---
import Layout from "../layouts/Layout.astro";
import Git from "@/icons/GitHub.astro"
import Mail from "@/icons/Mail.astro"
import Phone from "@/icons/Phone.astro"
import WorldMap from "@/icons/WorldMap.astro"


import {introduction,profile,work,education, skills} from "@/JSON/InfoCv.json"
---

<Layout title="Eric Santos">
	<main>
		<div class=" lg:w-[60%] xl:w-[38%] mt-4 lg:mt-10 w-[100%] mx-auto font-mono text-sm">
			<div class="lg:flex lg:flex-row-reverse justify-between items-center">
				<img
					class="hidden sm:inline-block w-28 rounded-2xl ml-4"
					src="https://avatars.githubusercontent.com/u/95249774?v=4"
					alt=""
					srcset=""
				/>
				<div class="p-4">
					<h1 class="text-2xl font-extrabold md:font-semibold">{introduction.name}</h1>
					<p class="w-[100%] lg:w-[70%]">
						{introduction.selfintroduction}
					</p>
					<div class="print">
						 <WorldMap/>
						 <p> <strong>esarias.com</strong> </p>
					</div>
					<div class="icons-show flex mt-4">
						<a class="mr-4 border-2 p-1 rounded-md text-gray-500 hover:text-gray-800 hover:bg-gray-100" href="https://github.com/Eric-Santos-Arias" target="_blank" ><Git/></a>
						<a class="mr-4 border-2 p-1 rounded-md text-gray-500 hover:text-gray-800 hover:bg-gray-100" href="mailto:ericmiu07@gmail.com"><Mail/</a>>
						<a class="border-2 p-1 rounded-md text-gray-500 hover:text-gray-800 hover:bg-gray-100"><Phone/></a>
					</div>
				</div>
			</div>

			<section class="p-4">
				<h2 class="text-xl font-semibold">About</h2>
				<p>
					{profile.about}
				</p>
			</section>
			<section class="p-4">

				<h2 class="text-xl font-semibold">Work Experience</h2>
				{
					work.map((item)=>{
						return(
							<div class="mb-3">
								<p><strong>{item.name}</strong> <spam class="ml-1 p-1 bg-slate-200 rounded-md print:ml-1 print:p-1 print:bg-slate-200 print:rounded-md">On site</spam></p> 
								<p>{item.position} <strong class="ml-10">{item.startDate} - {item.endDate}</strong></p> 
							</div>
						)
					})
				}
			</section>
			<section class="p-4">
				<h2 class="text-xl font-semibold">Education</h2>
				{education.map((item)=>{
					return(
						<div class="mb-3">
							<p><strong>{item.name}</strong></p>
							<p class="text-sm">{item.diplom}  <strong class={(item.endDate == "In process"? "ml-4 p-1 font-normal bg-slate-200 rounded-md": "ml-12" ) }>{item.endDate}</strong></p>
						</div>
					)
				})}
			</section>
			<section class="p-4 mb-12">
				<h2 class="text-xl font-bold">Skill</h2>
				<ul class="mt-2 text-[13px] flex flex-wrap">
				{skills.map((item)=>{
					return(
						<li class="mt-5 md:mt-5 mr-4 p-1 rounded-md bg-gray-700 text-white print:bg-gray-700 print:text-white">
							{item}
						</li>
					)
				})}
				</ul>
			</section>
		</div>
	</main>
</Layout>

<style is:global>
	
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	p{
		color: rgb(103, 105, 107);
	}
	section{
		width: 90%;
	}
	.print{display: none;}

	@media print{
		.print{
			width: 110px;
			justify-content: space-between;
			display: flex;
			align-items: center;

		}
		.icons-show{
			display: none;
		}
	}
	
</style>
